USE [love_game]
GO
/****** Object:  Table [dbo].[UserCard]    Script Date: 05/01/2025 22:38:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserCard](
	[UserID] [int] NOT NULL,
	[CardID] [int] NOT NULL
) ON [PRIMARY]
GO
